<p id="notice"></p>

<h1><%= @user.name %>さんのマイページ</h1>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Eメールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>マイアイコン:</strong>
  <%= image_tag @user.image %>
</p>

<button type="button" class="btn btn-danger">
  <%= link_to 'マイページの内容の変更', edit_user_path(@user) %>
</button><br>

<h1><%= @user.name %>さんの参加予定ヨガイベント</h1>

<% @favorite_events.each do |favorite_events| %>
  <div class="panel panel-danger">
    <div class="panel-heading">開催者名：<%= favorite_events.user.name %></div>
    <div class="panel-heading">ヨガイベント名：<%= favorite_events.title %></div>
    <div class="panel-body">イベント内容：<%= favorite_events.content %></div>
    <div class="panel-footer">画像イメージ：<%= image_tag favorite_events.image.url(:thumb) %></div>

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn label-success"><%= link_to 'イベント詳細', event_path(favorite_events) %></button>
      <% if current_user.id == favorite_events.user_id %>
        <button type="button" class="btn btn-warning"><%= link_to '編集', edit_event_path(favorite_events), data: { confirm: '本当に編集します？' } %></button>
        <button type="button" class="btn btn-danger"><%= link_to '削除', event_path(favorite_events), method: :delete,data: { confirm: '本当に削除します？' } %></button>
      <% end %>
    </div>
  </div>
<% end %>
