<p id="notice"></p>

<h1>イベント一覧</h1>

<%= search_form_for @q do |f|%>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>
  <%= f.submit %>
<% end %>
<%= sort_link(@q, :title, 'Last Name',default_order: :desc) %>

<% @lists.each do |list| %>
  <div class="panel panel-success">
    <div class="panel-footer">イベント名：<%= link_to(list.title,"/lists/#{list.id}") %></div>
    <div class="panel-body">イベント内容：<%= list.content %></div>
    <div class="panel-footer">イメージ画像：<%= image_tag list.image %></div>
    <div class="panel-body">開催者：<%= list.user.name %></div>
  </div>
<% end %>

<%= paginate @lists %>
