<p id="notice"></p>

<h1>イベント一覧</h1>

<h3>イベント名で検索</h3>
<%= search_form_for @q do |f|%>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>
  <%= f.submit %>
<% end %>
<%= sort_link(@q, :title, 'Last Name',default_order: :desc) %>

<% @events.each do |event| %>
  <div class="panel panel-danger">
    <div class="panel-heading">開催者：<%= event.user.name %></div>
    <div class="panel-heading">イベント名：<%= event.title %></div>
    <div class="panel-body">イベント内容：<%= event.content %></div>
    <div class="panel-footer">イメージ画像：<%= image_tag event.image.url(:thumb) %></div>

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn label-success"><%= link_to 'イベント詳細', event_path(event) %></button>
      <% if current_user.id == event.user_id %>
        <button type="button" class="btn btn-warning"><%= link_to '編集', edit_event_path(event), data: { confirm: '本当に編集します？' } %></button>
        <button type="button" class="btn btn-danger"><%= link_to '削除', event_path(event), method: :delete,data: { confirm: '本当に削除します？' } %></button>
      <% end %>
    </div>

  </div>
<% end %>

<%= paginate @events %>
