<p id="notice"></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @event.image %>
</p>

<div class="btn-group" role="group" aria-label="...">
  <% if current_user.id != @event.user_id %>
    <% if @favorite.present? %>
      <button type="button" class="btn btn-danger">
        <%= link_to 'ヨガイベント参加取消', favorite_path(event_id: @event.id), method: :delete %>
      </button>
    <%else%>
      <button type="button" class="btn btn-prymary">
        <%= link_to 'ヨガイベントに参加する', favorites_path(event_id: @event.id),method: :post %>
      </button>
    <%end%>
  <%end%>

  <% if current_user.id == @event.user_id %>
    <button type="button" class="btn btn-warning">
      <%= link_to 'イベント編集', edit_event_path(@event), data: { confirm: '本当に編集します？' } %>
    </button>
    <button type="button" class="btn btn-danger">
      <%= link_to 'イベント削除', event_path(@event), method: :delete,data: { confirm: '本当に削除します？' } %>
    </button>
  <% end %>
</div>
