<p id="notice"></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @event.image %>
</p>

<% if @favorite.present? %>
  <button type="button" class="btn bun-danger">
    <%= link_to 'ヨガイベント参加取消', favorite_path(event_id: @event.id), method: :delete %>
  </button>
<%else%>
  <button type="button" class="btn btn-prymary">
    <%= link_to 'ヨガイベントに参加する', favorites_path(event_id: @event.id),method: :post %>
  </button>
<%end%>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
